:root {
  /* Theme Config */
  --primary: #383e56;
  --secondary: #9fb8ad;
  --light: #c5d7bd;
  --trim: #fb743e;
  --textDark: hsla(0, 0%, 16%, 1);
  --textLight: #efefef;
  --fontPrimary: Verdana, Geneva, Tahoma, sans-serif;
  --shadow: 2px 2px 5px rgb(61, 61, 61);
  /* Uniform Zoom Effect */
  --zoomTransform: scale(1.025);
  --zoomTransition: 0.2s ease;
}

body,
p {
  margin: 0;
}

body {
  font-family: var(--fontPrimary);
  background-color: var(--primary);
  color: var(--textLight);
}

.container {
  padding: 0 3rem;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

#logo {
  height: 25vw;
  max-height: 150px;
  margin: 3rem;
}

#coverImg {
  border-radius: 50%;
  width: 60vw;
  max-width: 350px;
  box-shadow: var(--shadow);
  transition: var(--zoomTransition);
}

#coverImg:hover,
#ctrlBackground:hover {
  transform: var(--zoomTransform);
  transition: var(--zoomTransition);
}

/* ------------------  Start Button ------------------*/
#startButton {
  text-decoration: none;
  background-color: var(--trim);
  border-radius: 4rem;
  display: block;
  width: 12rem;
  height: 3rem;
  margin: 5rem auto;
  color: var(--lightText);
  transition: var(--zoomTransition);
  box-shadow: var(--shadow);
}

#startButton:hover {
  text-decoration: none;
  cursor: pointer;
  transform: var(--zoomTransform);
  transition: var(--zoomTransition);
}

#startButtonText {
  line-height: 3rem;
  font-size: 1.25rem;
}
/* --------------------------------------------------*/

#description {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#controls {
  height: 35rem;
  color: var(--textDark);
  text-align: center;
}

#ctrlBackground {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--textLight);
  border-radius: 1rem;
  transition: var(--zoomTransition);
  box-shadow: var(--shadow);
}

.ctrlSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

.ctrlType {
  margin-bottom: 0;
}

.control {
  padding: 1.15rem;
}

.keys {
  height: 4rem;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10rem;
}

#credit {
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  #coverImg {
    width: 340px;
  }

  #controls {
    height: 30rem;
  }
}
