:root {
  /* Theme Config */
  --primary: #000000;
  --secondary: #9fb8ad;
  --light: #c5d7bd;
  --trim: #fb743e;
  --textDark: hsla(0, 0%, 16%, 1);
  --textMain: #D3D800;
  --textLight: #efefef;
  --fontPrimary: Roboto, Geneva, Tahoma, sans-serif;

}

body,
p {
  margin: 0;
}

body {
  font-family: var(--fontPrimary);
  background-color: var(--primary);
  color: var(--textMain);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  height: 300px;
}

#banner-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 650px
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%
}

#title {
  padding: 2rem 0;
}

#coverImg {
  border: 2px solid gray;
  border-radius: 1.25rem;
  width: 80%;
  max-width: 400px;

}

#button-section {
  height: 150px;
}
/* ------------------  Start Button ------------------*/
.button {
  text-decoration: none;
  text-align: center;
  background-color: gray;
  border-radius: 1.5rem;
  display: block;
  width: 12rem;
  height: 3rem;
  margin: 5rem auto;
  color: var(--textDark);
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
}

.buttonText {
  line-height: 3rem;
  font-size: 1.25rem;
}
/* --------------------------------------------------*/

#footer-section {
  justify-content: center;
  height: 10rem;
}

#credit {
  font-size: 0.8rem;
}

/* -----------------  Game Screen  -----------------*/

#game-area {
  width: 1000px;
  border: 2px solid gray;
  height: 700px;
  margin: 0 auto;
  background-image: url('assets/images/stars.png');
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px 50px 50px 50px 50px auto;
  column-gap: 2px;
  row-gap: 2px;
}

#ship {
  height: 40px;
}

.end-dialog {
  visibility: hidden;
  position: absolute;
  top: 200px;
  left: 20px;
  background: var(--textLight);
  color: var(--textDark);
  height: 300px;
  width: 500px;
  min-width: 95%;
  text-align: center;
}

/* --------------------------------------------------*/


@media (min-width: 900px) {

  #banner-section {
    flex-direction: row;
    height: 450px
  }

  .column {
    width: 50%;
    height: 100%;
  }

}
